<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css" />
	{% import 'components.html' as comps %}
</head>
<body>
	<header class="mb-64">
		<h1 style="line-height: 20px;">Ibrahim</h1>
		<h2 style="color: grey;">a product designer</h2>
	</header>
	
	{% for project in projects %}
		{{ comps.section(project) }}
	{% endfor %}
</body>
</html>
